# dependencies
/node_modules
/frontend/node_modules

# build output
/public

# env files
.env*

# logs
/logs

# misc
.DS_Store
*.pem
npm-debug.log*

# database
memory.sqlite

# typescript
*.tsbuildinfo

# IDE
.vscode/
.idea/
